<form action='/login' method='post'>
  <label for="name">Name:</label><br>
  <input type='text' name='name'><br><br>
  <label for="battle_name">Battle Name:</label><br>
  <input type='text' name='battle_name'><br><br>
  <p style="margin-left:50px">
    <input type='submit' value='login'>
    <input type='reset'>
  </p>
</form>
