<form action='/login' method='post'>
  <label for="name">Username:</label><br>
  <input type='text' name='name'><br><br>
  <label for="password">Password:</label><br>
  <input type='password' name='password'><br><br>
  <p style="margin-left:50px">
    <input type='submit' value='login'>
    <input type='reset'>
  </p>
</form>
